@model MVC_basico.Models.Entrada

@{
    ViewData["Title"] = "Delete";
}

<h1>Reservas</h1>

<h3>¿Esta seguro que desea eliminar la siguiente reserva?</h3>
<div>
    <h4>Datos de la Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.peliculaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.peliculaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fila)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fila)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.butaca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.butaca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Ir a Reservas</a>
    </form>
</div>
