@model IEnumerable<MVC_basico.Models.Entrada>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservas</h1>

<p>
    <a asp-action="Create">Reservar Ahora</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fila)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.butaca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pelicula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fila)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.butaca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modificar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
